/*------------------------------
------------ GLOBAL ------------
------------------------------*/

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------------------------
------------ LAYOUT ------------
------------------------------*/

body {
    min-height: 100vh;
    font-family: "Lato", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: 750px;
    background-color: #eee;
    border: 1px solid #aaa;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

header, nav, main, footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: relative;
    min-height: 75px;
}

nav {
    position: absolute;
    top: 75px;
    left: 0;
    max-width: 250px;
    min-height: calc(100% - 150px);
    padding: 25px;
    background-color: #fff;
    border: 1px solid #aaa;
    border-left: none;
    transition: transform 0.5s;
    justify-content: start;
    flex-direction: column;
}

main {
    max-width: calc(100% - 250px);
    min-height: calc(100% - 150px);
    padding: 25px;
    transition: max-width 0.5s;
    justify-content: start;
    flex-direction: column;
    align-self: end;
}

footer {
    min-height: 75px;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/*------------------------------
------------ HEADER ------------
------------------------------*/

.bars {
    padding: 0.5rem;
    font-size: 2rem;
}

.reset {
    position: absolute;
    top: 5px;
    right: 5px;
}

/*------------------------------
------------- NAV --------------
------------------------------*/

nav.close {
    transform: translateX(-250px);
}

.folder {
    position: relative;
    width: 100%;
    min-height: 50px;
    margin-bottom: 25px;
    background-color: #eee;
    border: 1px solid #aaa;
}

.folder--remove {
    position: absolute;
    top: 0;
    right: 3px;
}

.new-folder {
    width: 100%;
    min-height: 50px;
    border: 1px solid #000;
}

.form-folder {
    width: 100%;
    min-height: 100px;
    padding: 0 1rem;
    border: 1px solid #000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.input-name {
    width: 100%;
    min-height: 30px;
    border: 1px solid #000;
    text-align: center;
}

.submit-folder {
    font-size: 1.5rem;
}

/*------------------------------
------------- MAIN -------------
------------------------------*/

main.big {
    max-width: 100%;
}

.todo {
    width: 100%;
    min-height: 50px;
    margin-bottom: 25px;
    padding: 0 1rem;
    border: 1px solid #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo--text {
    flex-grow: 1;
}

.todo--remove {
    font-size: 1.2rem;
}

.new-todo {
    width: 100%;
    max-width: 150px;
    min-height: 50px;
    border: 1px solid #000;
}

.form-todo {
    width: 100%;
    max-width: 350px;
    min-height: 100px;
    padding: 0 1rem;
    border: 1px solid #000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.input-task {
    width: 100%;
    min-height: 30px;
    padding: 0 0.5rem;
    border: 1px solid #000;
}

.submit-todo {
    font-size: 1.5rem;
}

/*------------------------------
------------ FOOTER ------------
------------------------------*/

.github {
    padding: 0.5rem;
    color: #000;
    font-size: 2rem;
    text-decoration: none;
}

/*------------------------------
------------ MEDIA -------------
------------------------------*/

@media (max-width: 600px) {
    main.small { max-width: 100%; }
}